body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f9fa;
}

.container {
    max-width: 800px;
}

.form {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
}
